* {
    margin: 0px;
    padding: 0px;
    font-family: 'poppins', sans-serif;
    line-height: 1.5;
}

a{
    text-decoration:  none;
}
ul{
    list-style: none;
}


body c {
    font-family:'FontAwesome';
    }

body {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background-color: grey;
}

/*---blog------------*/

#blog{
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}
.blog-heading{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.blog-heading span{
    color: #f33c3c;
}
.blog-heading h3{
    font-size: 2.4rem;
    color: #2b2b2b;
    font-weight: 600;

}

.blog-container{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 10px 0px;
    flex-wrap: wrap;

}
.blog-box{
    width: 350px;
    background-color: #ffff;

    margin: 20px;
}
.blog-img{
    width: 100%;
    height: auto;

}
.blog-img img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;

}

.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-text span{
    color: rgb(76, 219, 88);
    font-size: 0.9rem;
}

.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;

}
.blog-text .blog-title:hover {
    color: red;
    transition: all ease 0.3ms;

}

.blog-text p{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

.blog-text a{
    color: #0f0f0f;

}

.blog-text a:hover{
    color: red;
    transition: all ease 0.3ms
}


/*-----media-query----------*/

@media(max-width:1250px){
    .blog-box{
        width: 300px;
    }
}

@media(max-width:1025px){
    .blog-box{
        width: 250px;
    }
}

@media(max-width:659px){
    .blog-box{
        width: 100%;
        margin: 20px 10px;
    }
    #blog{
        padding: 20px;
    }
}





/*--------------footer-----------*/
.conterner{
     max-width: 1170px;
     background-color: #f33c3c;
     margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px 0px;
}
.footer-col{
    width: 20%;
    padding: 0% 20px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color:  #ffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffff;
    padding-left: 10%;
}
.footer-col .social-link a{
    display: inline-block;
    height: 40px;
    width:  40px;
    background-color: white;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: tomato;
    transition: all 0.5s ease;
}

.footer-col .social-link a:hover{
    color: #000;
    background-color: thistle;


}


/*--------------media query footer----------------*/
@media(max-width: 767px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
    
}
@media(max-width: 574px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
    
}
@media(max-width: 767px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
    
}
@media(max-width: 767px){
    .footer-col {
        width: 100%;
        margin-bottom: 30px;
    }
    
}