


* {

    margin: 0px;
    padding: 0px;
    font-family: 'poppins', sans-serif;
    line-height: 1.5;
}

a{
    text-decoration:  none;
}
ul{
    list-style: none;
}


body c {
    font-family:'FontAwesome';
    }

body {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background-color: grey;
}
.ul{
    list-style: none;
}

.conterner{
    max-width: 1170px;
    background-color: #f33c3c;
    margin:auto;
}
.row{
   display: flex;
   flex-wrap: wrap;
}
.ul{
   list-style: none;
}
.footer{
   background-color: #24262b;
   padding: 70px 0px;
}
.footer-col{
   width: 20%;
   padding: 0% 20px;
}
.footer-col h4{
   font-size: 18px;
   color: #ffff;
   text-transform: capitalize;
   margin-bottom: 35px;
   font-weight: 500;
   position: relative;
   
}
.footer-col h4::before{
   content: '';
   position: absolute;
   left: 0;
   bottom: -10px;
   background-color: #e91e63;
   height: 2px;
   box-sizing: border-box;
   width: 50px;
}
.footer-col ul li:not(:last-child){
   margin-bottom: 10px;
}
.footer-col ul li a{
   font-size: 16px;
   text-transform: capitalize;
   color:  #ffff;
   text-decoration: none;
   font-weight: 300;
   color: #bbbbbb;
   display: block;
   transition: all 0.3s ease;
}
.footer-col ul li a:hover{
   color: #ffff;
   padding-left: 10%;
}


.footer-col .social-link a{
   display: inline-block;
   height: 40px;
   width:  40px;
   background-color: white;
   margin: 0 10px 10px 0;
   text-align: center;
   line-height: 40px;
   border-radius: 50%;
   color: tomato;
   transition: all 0.5s ease;
}

.footer-col .social-link a:hover{
   color: #000;
   background-color: thistle;


}

@media(max-width: 767px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
    
}
@media(max-width: 574px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
    
}
@media(max-width: 767px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
    
}
@media(max-width: 767px){
    .footer-col {
        width: 100%;
        margin-bottom: 30px;
    }
    
}