:root {
    --dark-blue: #0E7894;
    --dark-green: #128D5A;
    --light-blue-green: #199688;
}

body {
    font-family: 'Poppins', sans-serif;
}

body c {
    font-family:'FontAwesome';
    font-size: 3rem;
    color: var(--dark-green);
}
a{
    text-decoration: none;
    color: rgb(14, 13, 13);
}
a:hover{
    text-decoration: none;
    color: rgb(255, 249, 249);
}

/* contact page style */

.contact-logo {
    width: 25rem;
    margin-top: 2rem;
}

.contact-logo-burger {
    display: flex;
    justify-content: space-between;
}

.contact-page {
    background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)),
    url(resources/images/contact_page_background.jpg);
    background-position: 50%;
}

.contact-form {
    display: flex;
    /* display: grid; */
    /* grid-template-columns: 25% 50% 25%; */
    height: 40rem;
    margin-top: 2rem;
    margin-left: 10%;
    margin-right: 10%;
}

.contact-fields {
    /* grid-column: 2; */
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.contact-fields-margin {
    margin: .5rem 0 .5rem 0;
    /* margin-top: .5rem;
    margin-bottom: .5rem; */
}

.contact-fields-input {
    margin: 0 auto 0 0;
}

.message-contact-input {
    margin-top: .5rem;
    flex-grow: 1;
    resize: none;
}

.contact-hamburger {
    margin-top: 1rem;
    margin-right: 1rem;
}

.contact-hidden-hamburger {
    visibility: hidden;
    margin-left: 1rem;
}

#contact-button {
    margin: 0 15rem 0 0;
    border-radius: 8rem;
    width: 10rem;
    height: 3rem;
}

#contact-button:hover {
    background-color: var(--light-blue-green);
    color: white;
}


/* Desktop screen style */

body, html{
   width: 100%;
   height: 100%;
   margin:0vmin;
}


 
.image_screen{
  
    width: 100%;
    height: 70rem;
    left: 0rem;
    top: -1rem;
 

    mix-blend-mode: normal;
    opacity: 0.8;
    z-index: 0;
}


.desktop_screen{


    border: 0;
    width: 100%;
    height: auto;
    left: 0rem;
    top: -1rem;
}


.desktop-logo{
  
    position: absolute;
    width: 30%;
    height: auto;
    left: 20%;
    top: 15%;
    z-index: 3;
    cursor: pointer;
}


.desktop-nav{

    position: fixed;
    color: var(--dark-green);
    font-size: 3rem;
    left: 95%;
    top: 5%;
    z-index: 6;
    border: 0rem;
}

.desktop-nav:hover{

    color: var(--dark-blue);
    position: fixed;
    font-size: 3rem;
    left: 95%;
    top: 5%;
    z-index: 6;
    border: 1rem;
    cursor: pointer;
}

.desktop-bulle{


    color: #128D5A;
    position: fixed;
    font-size: 3rem;
    left: 95%;
    bottom: 10%;
    z-index: 9;
    border: 0rem;
    cursor: pointer;

}

.desktop-bulle:hover{

    color: var(--dark-blue);
    position: fixed;
    font-size: 3rem;
    left: 95%;
    bottom: 10%;
    z-index: 9;
    border: 1rem;

}

.desktop-circle{

    color: var(--dark-green);
    font-size: 2rem;
    top: 70%;
    left: 45%;
    z-index: 5;
    position: absolute;
    
}

.desktop-circle:hover{

    border-radius: 100px;
    transition: background, 0.5s;
    background-color: var(--dark-green);
    color: var(--dark-green);
    font-size: 2rem;
    top: 70%;
    left: 45%;
    z-index: 5;
    cursor: pointer;
    
}

.desktop-circle2{

    color: var(--dark-green);
    font-size: 2rem;
    top: 70%;
    left: 50%;
    z-index: 5;
    cursor: pointer;
    position: absolute;
    
}

.desktop-circle2:hover{
    border-radius: 100px;
    transition: background, 0.5s;
    background-color: var(--dark-green);
    color: var(--dark-green);
    font-size: 2rem;
    top: 70%;
    left: 50%;
    z-index: 5;
   
}

.desktop-circle3{
   
    color: var(--dark-green);
    position: absolute;
    font-size: 2rem;
    top: 70%;
    left: 55%;
    z-index: 5;
    cursor: pointer;
    
}


.desktop-circle3:hover{
    border-radius: 100px;
    transition: background, 0.5s;
    background-color: var(--dark-green);
    color: var(--dark-green);
    font-size: 2rem;
    top: 70%;
    left: 55%;
    z-index: 5;
    
}
/* Barre de Nav*/

.bar-de-nav{
   
    width: 14rem;
    height: 25rem;
    position: fixed;
    right: 1%;
    top: 4%;
    z-index: 8;
    background-color: rgba(114, 110, 110, 0.877);
    
    
   
    
}
.cross-nav{
    font-size: 4rem;
    color: var(--dark-green);
    padding-left:6rem;
}
.cross-nav:hover{
    font-size: 4rem;
    color: var(--dark-blue);
    padding-left:6rem;
}

.logo-nav{
    width: 3rem;
    padding-left: 1rem;

}

.liste-nav{
    text-align: center;
    list-style-type: none;
    padding: 0%;
    
}

.index-liste-nav{
    padding-bottom: 10%;
}
.index-liste-nav:hover{
    padding-bottom: 10%;
    color: white;
    cursor: pointer;
}



/* A Propose de nous */
.div-vide-desktop{
    top:100%;
    width: 100%;
    height: 40%;
    bottom: 50%;
    background-color: white;
    z-index: 2;
    position: absolute;
}


.about-us-title{
    position: relative;
    margin-top: 5%;
    text-align: center;
    z-index: 7;
    color: var(--dark-green);
    font-size: 4rem;   
    box-shadow: 4rem;
    
}

.image1-about-us{
    width: 40%;
    right: 30%;
    border-radius: 400px;
    z-index: 5;
    margin-top: 15rem;
}

.image2-about-us{

    width: 40%;
    right: 30%;
    border-radius: 400px;
    z-index: 5;
    
}

.div-about-us{
    display: flex;
    columns: 2;
    flex-direction: column;
    width: 100%;
    z-index: 5;
    position: absolute;
    top:0%;
    background: radial-gradient(white,white);
    
}

.div1-about-us{
    display: flex;
    flex-direction: row;
    margin: 3rem;
    text-align: center;
    
}

.div2-about-us{
   
    display: flex;
    flex-direction: row;
    margin: 3rem;
    text-align: center;
    margin-right: 0%;
    
}

.text1-about-us{
    color: var(--dark-green);
    padding-top: 25%;
    padding-left: 5%;
    width: 50%;
}

.image2-about-us{
    margin-left: 50%;
}

.text2-about-us{
    padding-top: 10%;
    width: 45%;
    color: var(--dark-green);
    z-index: 6;
    padding-right: 10rem;
    padding-bottom: 6rem;
    position: absolute;
   

}

.partenaire-title{
    color: var(--dark-green);
    position: absolute;
    top: 75%;
    left: 35%;
    text-align: center;
}

.nos-partenaire{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-right: 10%;

}

.angle-partenaire1{
    font-size: 3rem;
    padding-top: 8%;
    color: var(--dark-green);
    
}


.angle-partenaire1:hover{
    font-size: 3rem;
    padding-top: 8%;
    color: var(--dark-blue);
    cursor: pointer;

}

.image-partenaire{
    text-align: center;
    width: 14rem;
    margin-left: 5%;
    margin-right:5%;
}

.angle-partenaire2{
    font-size: 3rem;
    padding-top: 8%;
    color: var(--dark-green);

}

.angle-partenaire2:hover{
    font-size: 3rem;
    padding-top: 8%;
    color: var(--dark-blue);
    cursor: pointer;


}

/*Portfolio*/

.portfolio-title{
    padding-top: 85%;
    position: absolute;
    z-index: 6;
    text-align: center;
    width: 100%;
    color: var(--dark-green);
    font-size: 5rem;

}

.portfolio-div{
    display: flex;
    padding-top: 100%;
    top: 100%;
}
.mise-en-page-portfolio{
    width: 59%;
    display: flex;
    flex-direction: column;
}
.image-portfolio1{
    width:100%;
    height: auto;
    top: 100%;  
}
.image-portfolio1:hover{
    width:100%;
    height: auto;
    top: 100%;  
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray; 
   transition: filter 1s;
}

.image-portfolio2{
    width:100%;
    height: auto;
}
.image-portfolio2:hover{
    width:100%;
    height: auto;
    top: 100%;  
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray; 
   transition: filter 1s;
}

.image-portfolio-face1{
    width:30%;
    height: auto;
    
}
.image-portfolio-face1:hover{
    width:30%;
    height: auto;
    top: 100%;  
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray; 
   transition: filter 1s;
}

.image-portfolio-face2{
    width:30%;
    height: auto;
}

.image-portfolio-face2:hover{
    width:30%;
    height: auto;
    top: 100%;  
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");   
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    transition: filter 1s;
}

.title-nos-offres{
    font-size: 3rem;
    color: var(--dark-green);
    text-align: center;
}
.background-nos-offres{
    width: 100%;
    transform: rotate(0.29deg);
    position: absolute;
    z-index: 2;
}

.div-pahse-audit{
    display: flex;

}
.i-identity {
    position: relative;
    z-index: 5;
    top: 20rem;
    left: 49%;
    font-size: 300%;
    color: red;
}

.i-ear {
    position: relative;
    z-index: 5;
    top: 25rem;
    left: 49%;
    font-size: 300%;
    color: red;
}

.i-hand {
    position: relative;
    z-index: 5;
    top: 15rem;
    left: 49%;
    font-size: 300%;
    color: red;
}















