:root {
    --dark-blue: #0E7894;
    --dark-green: #128D5A;
    --light-blue-green: #199688;
}

body {
    font-family: 'Poppins', sans-serif;
}

body span {
    font-family:'FontAwesome';
    font-size: 3rem;
    color: var(--dark-green);
}
a{
    text-decoration: none;
    color: rgb(14, 13, 13);
}
a:hover{
    text-decoration: none;
    color: rgb(255, 249, 249);
}

.flex {
    display: flex;
    justify-content: space-around;
}

/* contact page style */

.contact-logo {
    width: 25rem;
    margin-top: 2rem;
}

.contact-logo-burger {
    display: flex;
    justify-content: space-between;
}

.contact-page {
    background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)),
    url(resources/images/contact_page_background.jpg);
    background-position: 50%;
}

.contact-form {
    display: flex;
    /* display: grid; */
    /* grid-template-columns: 25% 50% 25%; */
    height: 40rem;
    margin-top: 2rem;
    margin-left: 10%;
    margin-right: 10%;
}

.contact-fields {
    /* grid-column: 2; */
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.contact-fields-margin {
    margin: .5rem 0 .5rem 0;
    /* margin-top: .5rem;
    margin-bottom: .5rem; */
}

.contact-fields-input {
    margin: 0 auto 0 0;
}

.message-contact-input {
    margin-top: .5rem;
    flex-grow: 1;
    resize: none;
}

.contact-hamburger {
    margin-top: 1rem;
    margin-right: 1rem;
}

.contact-hidden-hamburger {
    visibility: hidden;
    margin-left: 1rem;
}

#contact-button {
    margin: 0 15rem 0 0;
    border-radius: 8rem;
    width: 10rem;
    /* height: 3rem; */
    background-color: white;
    text-align: center;
    line-height: 200%;
    border: 1px solid black;
}

#contact-button:hover {
    background-color: var(--light-blue-green);
    color: white;
    cursor: pointer;
}

.index-hamburger {
    z-index: 50;
}


/* Desktop screen style */

body, html{
   width: 100%;
   height: 100%;
   margin:0vmin;
}


 
.image_screen{

    
    width: 100%;
    height: 70rem;
    left: 0rem;
    top: -1rem;
 

    mix-blend-mode: normal;
    opacity: 0.8;
    z-index: 0;

    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; 
   
}

.image_screen2{
    display: none;
    width: 100%;
    height: 70rem;
    left: 0rem;
    top: -1rem;
 

    mix-blend-mode: normal;
    opacity: 0.8;
    z-index: 0;

    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; 
    
}

.image_screen3{
    display: none;
    width: 100%;
    height: 70rem;
    left: 0rem;
    top: -1rem;
 

    mix-blend-mode: normal;
    opacity: 0.8;
    z-index: 0;

    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; 
    
}



.desktop_screen{


    border: 0;
    width: 100%;
    height: auto;
    left: 0rem;
    top: -1rem;
}


.desktop-logo{
  
    position: absolute;
    width: 30%;
    height: auto;
    left: 20%;
    top: 15%;
    z-index: 3;
    cursor: pointer;
}


.desktop-nav{

    position: absolute;
    color: var(--dark-green);
    font-size: 3rem;
    left: 95%;
    top: 5%;
    z-index: 6;
    border: 0rem;
}

.desktop-nav:hover{

    color: var(--dark-blue);
    position: absolute;
    font-size: 3rem;
    left: 95%;
    top: 5%;
    z-index: 6;
    border: 1rem;
    cursor: pointer;
}


.desktop-circle{

    color: var(--dark-green);
    font-size: 2rem;
    top: 70%;
    left: 45%;
    z-index: 5;
    position: absolute;
    
}

.desktop-circle:hover{

    border-radius: 100px;
    transition: background, 0.5s;
    background-color: var(--dark-green);
    color: var(--dark-green);
    font-size: 2rem;
    top: 70%;
    left: 45%;
    z-index: 5;
    cursor: pointer;
    
}

.desktop-circle2{

    color: var(--dark-green);
    font-size: 2rem;
    top: 70%;
    left: 50%;
    z-index: 5;
    cursor: pointer;
    position: absolute;
    
}

.desktop-circle2:hover{
    border-radius: 100px;
    transition: background, 0.5s;
    background-color: var(--dark-green);
    color: var(--dark-green);
    font-size: 2rem;
    top: 70%;
    left: 50%;
    z-index: 5;
   
}

.desktop-circle3{
   
    color: var(--dark-green);
    position: absolute;
    font-size: 2rem;
    top: 70%;
    left: 55%;
    z-index: 5;
    cursor: pointer;
    
}


.desktop-circle3:hover{
    border-radius: 100px;
    transition: background, 0.5s;
    background-color: var(--dark-green);
    color: var(--dark-green);
    font-size: 2rem;
    top: 70%;
    left: 55%;
    z-index: 5;
    
}
/* Barre de Nav*/

.bar-de-nav{
    display: none;
    width: 14rem;
    height: 25rem;
    position: absolute;
    right: 1%;
    top: 4%;
    z-index: 8;
    background-color: rgba(114, 110, 110, 0.877);
    
    
   
    
}
.cross-nav{
    font-size: 4rem;
    color: var(--dark-green);
    padding-left:6rem;
}
.cross-nav:hover{
    font-size: 4rem;
    color: var(--dark-blue);
    padding-left:6rem;
    cursor: pointer;
}

.logo-nav-image{
    width: 3rem;
    padding-left: 1rem;

}

.liste-nav{
    text-align: center;
    list-style-type: none;
    padding: 0%;
    
}

.index-liste-nav{
    padding-bottom: 10%;
}
.index-liste-nav:hover{
    padding-bottom: 10%;
    color: white;
    cursor: pointer;
}



/* A Propose de nous */
.div-vide-desktop{
    top:100%;
    width: 100%;
    height: 40%;
    bottom: 50%;
    background-color: white;
    z-index: 2;
    position: absolute;
}


.about-us-title{
    position: relative;
    margin-top: 5%;
    text-align: center;
    z-index: 7;
    color: var(--dark-green);
    font-size: 4rem;   
    box-shadow: 4rem;
    
}

.image1-about-us{
    width: 40%;
    right: 30%;
    border-radius: 400px;
    z-index: 5;
    margin-top: 15rem;
}

.image2-about-us{

    width: 40%;
    right: 30%;
    border-radius: 400px;
    z-index: 5;
    
}

.div-about-us{
    display: flex;
    columns: 2;
    flex-direction: column;
    width: 100%;
    z-index: 5;
    position: absolute;
    top:0%;
    background: radial-gradient(white,white);
    
}

.div1-about-us{
    display: flex;
    flex-direction: row;
    margin: 3rem;
    text-align: center;
    
}

.div2-about-us{
   
    display: flex;
    flex-direction: row;
    margin: 3rem;
    text-align: center;
    margin-right: 0%;
   
}

.text1-about-us{
    color: var(--dark-green);
    padding-top: 25%;
    padding-left: 5%;
    width: 50%;
}

.image2-about-us{
    margin-left: 50%;
}

.text2-about-us{
    padding-top: 10%;
    width: 45%;
    color: var(--dark-green);
    z-index: 6;
    padding-right: 10rem;
    padding-bottom: 6rem;
    position: absolute;
   

}

.partenaire-title{
    color: var(--dark-green);
    position: absolute;
    padding-top: 75%;
    left: 35%;
    text-align: center;
    
}

.nos-partenaire{
   
    
    position: absolute;
 
    padding-top: 85%;
    padding-left: 23%;
    align-content:space-between;
    width: 100%;
   
   

}


.image-partenaire{
    
    width: 13%;
    align-content:space-between;
    

}
.image-partenaire:hover{
    
    width: 13%;
    align-content:space-between;
     filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; 
    transition: filter 1s;
}
    





/*Portfolio*/

.portfolio-title{
    padding-top: 85%;
    position: absolute;
    z-index: 5;
    text-align: center;
    width: 100%;
    color: var(--dark-green);
    font-size: 5rem;

}

.portfolio-div{
    display: flex;
    padding-top: 100%;
    top: 100%;
    cursor: pointer;
}
.mise-en-page-portfolio{
    width: 59%;
    display: flex;
    flex-direction: column;
}
.image-portfolio1{
    width:100%;
    height: auto;
    top: 100%;  
}
.image-portfolio1:hover{
    width:100%;
    height: auto;
    top: 100%;  
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray; 
   transition: filter 1s;
}

.image-portfolio2{
    width:100%;
    height: auto;
}
.image-portfolio2:hover{
    width:100%;
    height: auto;
    top: 100%;  
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray; 
   transition: filter 1s;
}

.image-portfolio-face1{
    width:30%;
    height: auto;
    
}
.image-portfolio-face1:hover{
    width:30%;
    height: auto;
    top: 100%;  
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray; 
   transition: filter 1s;
}

.image-portfolio-face2{
    width:30%;
    height: auto;
}

.image-portfolio-face2:hover{
    width:30%;
    height: auto;
    top: 100%;  
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");   
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    transition: filter 1s;
}

.titre-portfolio-face1{position: absolute;
    top: 200rem;
    left: 11rem;
    font-size: 3rem;
    text-align: center;
    color: bisque;
    width: 13%;
    opacity: 0;
}
.text-portfolio-face1{position: absolute;
    top: 210rem;
    left: 11rem;
    font-size: 1rem;
    text-align: center;
    color: bisque;
    width: 13%;
    height: 50%;
    opacity: 0;
}

.titre-portfolio1{position: absolute;

    top: 190rem;
    left: 47rem;
    font-size: 3rem;
    text-align: center;
    color: bisque;
    width: 20%;
    opacity: 0;
}
.text-portfolio1{position: absolute;
    top: 200rem;
    left: 47rem;
    font-size: 1rem;
    text-align: center;
    color: bisque;
    width: 20%;
    opacity: 0;
}

.titre-portfolio2{position: absolute;
    top: 222rem;
    left: 47rem;
    font-size: 3rem;
    text-align: center;
    color: bisque;
    width: 20%;
    opacity: 0;

}
.text-portfolio2{position: absolute;
    top: 233rem;
    left: 47rem;
    font-size: 1rem;
    text-align: center;
    color: bisque;
    width: 20%;
    height: 30%;
    opacity: 0;
}
.titre-portfolio-face2{position: absolute;
    top: 200rem;
    left: 95rem;
    font-size: 3rem;
    text-align: center;
    color: bisque;
    width: 13%;
    height: 50%;
    opacity: 0;
}
.text-portfolio-face2{position: absolute;
    top: 210rem;
    left: 95rem;
    font-size: 1rem;
    text-align: center;
    color: bisque;
    width: 13%;
    height: 50%;
    opacity: 0;
}

.titre-portfolio-face1:hover{position: absolute;
    top: 200rem;
    left: 11rem;
    font-size: 3rem;
    text-align: center;
    color: bisque;
    width: 13%;
    opacity: 1;
}
.text-portfolio-face1:hover{position: absolute;
    top: 210rem;
    left: 11rem;
    font-size: 1rem;
    text-align: center;
    color: bisque;
    width: 13%;
    height: 50%;
    opacity: 1;
}

.titre-portfolio1:hover{position: absolute;

    top: 190rem;
    left: 47rem;
    font-size: 3rem;
    text-align: center;
    color: bisque;
    width: 20%;
    opacity: 1;
}
.text-portfolio1:hover{position: absolute;
    top: 200rem;
    left: 47rem;
    font-size: 1rem;
    text-align: center;
    color: bisque;
    width: 20%;
    opacity: 1;
}

.titre-portfolio2:hover{position: absolute;
    top: 222rem;
    left: 47rem;
    font-size: 3rem;
    text-align: center;
    color: bisque;
    width: 20%;
    opacity: 1;

}
.text-portfolio2:hover{position: absolute;
    top: 233rem;
    left: 47rem;
    font-size: 1rem;
    text-align: center;
    color: bisque;
    width: 20%;
    height: 30%;
    opacity: 1;
}
.titre-portfolio-face2:hover{position: absolute;
    top: 200rem;
    left: 95rem;
    font-size: 3rem;
    text-align: center;
    color: bisque;
    width: 13%;
    height: 50%;
    opacity: 1;
}
.text-portfolio-face2:hover{position: absolute;
    top: 210rem;
    left: 95rem;
    font-size: 1rem;
    text-align: center;
    color: bisque;
    width: 13%;
    height: 50%;
    opacity: 1;
}





/*Nos offres*/
.title-nos-offres{
    font-size: 3rem;
    color: var(--dark-green);
    text-align: center;
    padding-top: 5%;
    position: absolute;
    z-index: 5;
    width: 100%;
}
.background-nos-offres{
    width: 100%;
    transform: rotate(0.29deg);
    position: absolute;
    z-index: 2;
}

.nos-offres-screen{
    padding: 0%;
    width: 100%;
    height: auto;
}
.div-phase-audit{
   
   padding: 0%;
   position: absolute;
   width: auto;
   height: 100%;
   margin-top: 9rem;
   font-size: 110%;
   left: 28%;

}

.i-identity {
    position: relative;
    z-index: 5;
    top: 23%;
    left: 49%;
    font-size: 300%;
    color: red;
}
.text-identity{
    position: relative;
    z-index: 5;
    top: 25%;
    padding: 0%;
    text-align: center;
    
}

.i-ear {
    position: relative;
    z-index: 5;
    top:25%;
    left: 49%;
    font-size: 300%;
    color: red;
}
.text-ear{
    position: relative;
    z-index: 5;
    top: 25%;
    padding: 0%;
    text-align: center;
  
    
}

.i-hand {
    position: relative;
    z-index: 5;
    top:25%;
    left: 49%;
    font-size: 300%;
    color: red;
}
.text-hand{
    position: relative;
    z-index: 5;
    top: 25%;
    padding: 0%;
    text-align: center;
}





.div-phase-conseil {
   display: none;
    padding: 0%;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 460%;
   font-size: 110%;
}
.i-conseil{
    position: relative;
    z-index: 5;
    top: 23%;
    left: 49%;
    font-size: 500%;
    color: red;
}
.text-conseil{
    position: relative;
    z-index: 5;
    top: 30%;
    padding: 0%;
    text-align: center;
    width: 50%;
    left: 25%;
    
    
}


.div-phase-conseption{
   display: none;
   padding: 0%;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 460%;
   font-size: 110%;


}
.i-laptop{
    position: relative;
    z-index: 5;
    top: 23%;
    left: 49%;
    font-size: 300%;
    color: red;
}



.text-laptop{
    position: relative;
    z-index: 5;
    top: 25%;
    padding: 0%;
    text-align: center;
    left: 36%;
    width: 30%;

}

.i-dollar{
    position: relative;
    z-index: 5;
    top:25%;
    left: 49%;
    font-size: 300%;
    color: red;

}

.text-dollar{
    position: relative;
    z-index: 5;
    top: 25%;
    padding: 0%;
    text-align: center;
    left: 36%;
    width: 30%;


}

.suivant-button{
    position: absolute;
    z-index: 6;
    width: 5rem;
    background-color: var(--dark-green);
    border-radius: 40px;
    text-align: center;
    top: 530%;
    left: 70%;
}

.suivant-button:hover{
    position: absolute;
    z-index: 6;
    width: 5rem;
    background-color: var(--dark-green);
    border-radius: 40px;
    text-align: center;
    color: white;
    top: 530%;
    left: 70%;
    cursor: pointer;
}


@media(max-width: 1440px){
    .portfolio-title{
        margin-top: 10rem;
    }
    .div-phase-audit{
        width: 35%;
        left: 29rem;
        top: 313%;
        font-size: 0.7rem;

    }
    .div-phase-conseil{
        width: 35%;
        left: 29rem;
        top: 325%;
        font-size: 0.7rem;

    }

    .div-phase-conseption{
        
        width: 75%;
        left: 11rem;
        top: 325%;
        font-size: 0.7rem;

    }

    .suivant-button{
        top: 377%;

    }


    .suivant-button:hover{
        top: 377%;
    }
}

.lang-icon {
    width: 15%;
}

.lang-icon:hover {
    cursor: pointer;
}